tr:nth-child(2n) td {
        background: #CEF6D8
}
tr:nth-child(2n-1) td {
        background: #FAFA1F /* 2 Farben abwechselnd */
}
input, textarea {
	width: 300px; /* alle Eingabefelder gleich breit machen */
}

table {
	margin: auto; /* alle Tabellen zentrieren */
	border-collapse: collapse; /* Tabellenzellen direkt aneinander (siehe http://www.css4you.de/border-collapse.html ) */
}
th {
	font-size: 120%; /* Tabellenüberschriften größer und fett anzeigen */
	font-weight: bold;
}
a{ /* Links designen */
	font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	-moz-box-shadow:    2px 2px 5px 2px #ccc;
    -webkit-box-shadow: 2px 2px 5px 2px #ccc;
    box-shadow:         2px 2px 5px 2px #ccc;
}
html {
	text-align: center; /* alles zentrieren */
}
nav a:visited, nav a:link { /* Menü "normal" formatieren */
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background: none;
	border: solid;
	font-family: "Times New Roman", Times, serif;
	font-size: 100%;


}